__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
venv/
.env
*.egg-info/
dist/
build/
.DS_Store
.vscode
.ruff_cache
.pytest_cache
dummy.nc
.coverage
cccma_ppp/train/registry_imports.py
cccma_ppp/inference/registry_imports.py
cfg._using_model_data_as_condition
cfg.ds_operator
cccma_ppp/_internal/*
*.py.bak
_internal/*
output/*

*.sh
*.txt