__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
venv/
.env
*.egg-info/
dist/
build/
.DS_Store
.vscode
.ruff_cache
.pytest_cache
dummy.nc
.coverage
cccma_ppp/train/registry_imports.py
test_suite_analysis/
scripts/build_test_map.py
scripts/prune_tests.py
scripts/skip_useless_tests.py
tests/conftest.py
scripts/build_and_view_docs.py
scripts/initialize_docs.py
scripts/build_test_map_parallel.py